@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pp-formula: "PPFormula", system-ui, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: light;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pp-formula);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
